.chk_label {
  display: flex;
  align-items: center;
  label {
    top: -5px;
    @include font(300, 14px, 16px);
    color: $dark_1;
  }
}
input[type="checkbox"] {
  appearance: none;
  background-color: $white;
  border: 0.5px solid $light_1;
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 4px;
}
input[type="checkbox"]:checked {
  background: url("#{$img-path}/ic_check_on.svg") no-repeat;
  border: none;
}
input[type="checkbox"].some_select:checked {
  background: url("#{$img-path}/ic_check_some_select.svg") no-repeat;
  border: none;
}
input[type="checkbox"].dim:checked {
  background: url("#{$img-path}/ic_check_dim.svg") no-repeat;
  border: none;
}
input[type="checkbox"].enable {
  background: url("#{$img-path}/ic_check_enable.svg") no-repeat;
  border: none;
}
