//**** PATH ****/
$img-path: "../images";
$font-path: "../font";

$primary: #d070fb;
// $primary_font: #298de7;
// $primary_font_dark: #458dc5;
$primary_dimmed: #aacff7;
$primary_light: #dcedff;
$primary_light_2: #e7f2ff;
$primary_light_3: #f5faff;
$primary_light_4: #e393b9;

$dark_1: #000000;
$dark_2: #333333;
$dark_3: #555555;
$dark_4: #777777;
$dark_5: #7e7e7e;

$light_1: #bbbbbb;
$light_2: #dddddd;
$light_3: #e9e9e9;
$light_4: #eeeeee;
$light_5: #f8f8f8;
$light_6: #d8d8d8;
$light_7: #f5f5f5;

$white: #ffffff;

$error: #f36160;
$error_font: #f24e4f;
$error_clicked: #ffd6d6;

$warning: #ffb85d;
$warning_font: #f59c2a;

$success: #49c877;
$success_font: #25b058;
